.SearchBox {
  display: flex;
  flex-direction: column;
  background-color: #1077dd;
  padding: 2rem;
}

.SearchBox .SearchHeader {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  line-height: 0;
}

.SearchBox .SearchPrompt {
  font-size: 1.2rem;
  color: #ffffff;
}

.SearchBox form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.SearchBox form input {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(255,255,255,0.8);
}
