.Button {
  color: #1077dd;
  background-color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #1077dd;
}
